<div class="row">
    <div class="col-md-4">
        <div class="card">
            <div class="card-header">Užduoties redagavimas</div>
            <div class="card-body">
                <div class="mb-3">
                    <label for="" class="form-label">Pavadinimas: </label>
                    <input type="text" class="form-control" [(ngModel)] = "name">
                </div>
                <div class="mb-3">
                    <label for="" class="form-label">Tipas: </label>
                    <select class="form-control" [(ngModel)] = "urgency">
                        <option value="skubu">Skubu</option>
                        <option value="neskubu">Neskubu</option>
                        <option value="rutininis">Rutininis</option>
                        <option value="ypacskubu">Ypač skubu</option>
                        </select>
                </div>
                <button class="btn btn-success" (click) = "update()">Atnaujinti</button>
            </div>
        </div>
    </div>
</div>